@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: chopova-lowena-bold;
  src: url(../assets/fonts/HelveticaNeueLTStd-BdCn.otf);
}
@font-face {
  font-family: chopova-lowena;
  src: url(../assets/fonts/HelveticaNeueLTStd-Cn.otf);
}

.cl-bold {
  font-family: chopova-lowena-bold;
}

.cl-light {
  font-family: chopova-lowena;
}

*,
html,
body,
select,
fieldset {
  font-family: chopova-lowena-bold;
}

input {
  font-family: chopova-lowena;
}

@layer components {
  .global-text-sizes {
    @apply md:text-[1.2em] lg:text-[1.6em]  xl:text-[1.8em] 2xl:text-[2.3em];
  }
}

/* hide scrollbar */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
